@import 'tailwindcss';
@source "../../index.html";
@source "../**/*.vue";
@source "../**/*.js";
@import './base.css';

a,
.accent {
  text-decoration: none;
  color: #87a878;
  transition: 0.4s;
  padding: 3px;
}
