@import 'tailwindcss';
@source "../../index.html";
@source "../**/*.vue";
@source "../**/*.js";
@import './base.css';

@layer base {
  html {
    background-color: #fffdfc;
  }
}

a,
.accent {
  text-decoration: none;
  color: #87a878;
  transition: 0.4s;
  padding: 3px;
}
